<h2>New Beweglicher ferientag</h2>

<%= render "form.html", Map.put(assigns, :action, beweglicher_ferientag_path(@conn, :create)) %>

<span><%= link "Back", to: beweglicher_ferientag_path(@conn, :index) %></span>
