<meta name="description" content="Ferienterminen und Brückentageübersicht für <%= @school.name %>. Inkl. <%= unless @bewegliche_ferientage == nil do %><%= @bewegliche_ferientage.value %> beweglicher Ferientage, <% end %>gesetzlicher und <%= @religion.name %>er Feiertagen.">
<title>Schulferienkalender der nächsten 12 Monate für <%= @school.name %> inkl. <%= @religion.name %>er Feiertage</title>
