<meta name="description" content="Ferienterminen<%= unless @bewegliche_ferientage == nil do %> und bewegliche Ferientage<% end %> für <%= @year.value %>. Optional mit jüdischen und islamischen Feiertagen.">
<title>Schulferienkalender <%= @school.name %> <%= @year.value %></title>
