<meta name="description" content="Ferienterminen und Brückentageübersicht <%= @year.value %> für <%= @city.name %> in <%= @federal_state.name %>. Inkl. <%= unless @bewegliche_ferientage == nil do %><%= @bewegliche_ferientage.value %> beweglicher Ferientage und <% end %>gesetzlicher Feiertage. Optional mit jüdischen und islamischen Feiertagen.">
<title><%= @city.zip_code %> <%= @city.name %> :: Schulferienkalender der nächsten 12 Monate</title>
